# Clock
NET "clk" LOC="B8";
# Define a new timing constraint indicating a 50 MHz clock period
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 20 ns HIGH 50 %;

# Attach switches
NET "switches<0>" LOC=G18;
NET "switches<1>" LOC=H18;
NET "switches<2>" LOC=K18;
NET "switches<3>" LOC=K17;
NET "switches<4>" LOC=L14;
NET "switches<5>" LOC=L13;
NET "switches<6>" LOC=N17;
NET "switches<7>" LOC=R17;

#attach buttons
NET "btn_0" LOC=B18;
#NET "btn<1>" LOC=D18;
#NET "btn<2>" LOC=E18;
NET "reset" LOC=H13;

#attach Sseg Display
NET "seg<0>" LOC=L18;
NET "seg<1>" LOC=F18;
NET "seg<2>" LOC=D17;
NET "seg<3>" LOC=D16;
NET "seg<4>" LOC=G14;
NET "seg<5>" LOC=J17;
NET "seg<6>" LOC=H14;

NET "dp" LOC=C17;

#attach AN
NET "an<0>" LOC=F17;
NET "an<1>" LOC=H17;
NET "an<2>" LOC=C18;
NET "an<3>" LOC=F15;

## VGA Connector 
NET "vgaRed<0>"   LOC = "R9"; # Bank = 2, Pin name = IO/D5, Type = DUAL, Sch name = RED0
NET "vgaRed<1>"   LOC = "T8"; # Bank = 2, Pin name = IO_L10N_2, Type = I/O, Sch name = RED1
NET "vgaRed<2>"   LOC = "R8"; # Bank = 2, Pin name = IO_L10P_2, Type = I/O, Sch name = RED2
NET "vgaGreen<0>" LOC = "N8"; # Bank = 2, Pin name = IO_L09N_2, Type = I/O, Sch name = GRN0
NET "vgaGreen<1>" LOC = "P8"; # Bank = 2, Pin name = IO_L09P_2, Type = I/O, Sch name = GRN1
NET "vgaGreen<2>" LOC = "P6"; # Bank = 2, Pin name = IO_L05N_2, Type = I/O, Sch name = GRN2
NET "vgaBlue<0>"  LOC = "U5"; # Bank = 2, Pin name = IO/VREF_2, Type = VREF, Sch name = BLU1
NET "vgaBlue<1>"  LOC = "U4"; # Bank = 2, Pin name = IO_L03P_2/DOUT/BUSY, Type = DUAL, Sch name = BLU2
 
NET "Hsync" LOC = "T4"; # Bank = 2, Pin name = IO_L03N_2/MOSI/CSI_B, Type = DUAL, Sch name = HSYNC
NET "Vsync" LOC = "U3"; # Bank = 2, Pin name = IO_L01P_2/CSO_B, Type = DUAL, Sch name = VSYNC
 

