# User constraints file for Listing 2.1
#
# A user constraints file is used to specify the pin locations of the
# top-level signals. The format for a pin location mapping is as
# follows:
#
# NET "<port name>" LOC=<PIN LOCATION>
#
# Note that the keywords NET and LOC are case sensitive. Make sure
# you capitalize these keywords when creating .ucf files.
#
# This constraints file will map the first three switches (SW0,SW1,
# and SW2) to the a input and the first LED (LD0) to the output,
# even.
#
# Attach a(0) to the switch 0 (SW0)
NET "a<0>" LOC=G18;
# Attach a(1) to the switch 1 (SW1)
NET "a<1>" LOC=H18;
# Attach a(2) to the switch 2 (SW2)
NET "a<2>" LOC=K18;
# Attach even output to the LED 0 (LD0)
NET "even" LOC=J14;